// variables
$whiteColor: white;
$lightgrayColor: lightgray;
$padding15: 15px;

body {
    background: $lightgrayColor;
}

// nested
// nested sample 01
ul {
    background: green;
    li {
        display: inline;
    }
}

// nested sample 02
nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

// mixin
// radius with default 5px radius, you can overwrite the (5px) value..
@mixin rounded ($radius:5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius
}

// to use
.box01 {
    // use 5px default..
    @include rounded;
}

.box02 {
    //overwrite 5px with 10px..
    @include rounded(10px);
}


//selector inheritance
// main rounded box...
.roundedBoxMain {
    @include rounded(10px);
    width: 120px;
    height: 120px;
}

    // use the main box elements then added other stuff...
    .roundedBox01 {
        @extend .roundedBoxMain;
        background-color: red;
    }

    // use the main box elements then added other stuff...
    .roundedBox02 {
        @extend .roundedBoxMain;
        background-color: green;
    }
